title: like-a-fin
description: "there is no system but GNU and linux is one of its kernels..."
author:
  name: "Fin Christensen"
  email: "fchristensen@embedded.enterprises"
  url: ""

baseurl: /

source: .
destination: ./_site
permalink: /:title
paginate: 3
paginate_path: /page/:num/

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap

# Custom variables
owner: "Fin Christensen"
year: "2019"
