---
layout: default
---

<ul>
    {% for post in paginator.posts %}
      <li>
          <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          <p>{{ post.content | strip_html | truncatewords:50 }}</p>
          {% if post.excerpt != post.content %}
            <p>
              <a class="readmore" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Read More</a>
            </p>
          {% endif %}
      </li>
    {% endfor %}
</ul>
